/bin/
/obj/
*.uid
*.vsidx
*.md5
.godot/**
.editorconfig
.gitattributes
.godot/mono/*
.godot/editor/*
.godot/
.vs/
heightMap0.png
heightMap1.png
heightMap2.png
heightMap3.png
heightMapBlurred0.png
heightMapBlurred1.png
heightMapBlurred2.png
heightMapBlurred3.png
heightMap0.png
heightMap1.png
heightMap2.png
heightMap3.png
heightMapBlurred0.png
heightMapBlurred1.png
heightMapBlurred2.png
heightMapBlurred3.png
